# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env


proxy_pass http://localhost:;
proxy_http_version
proxy set header Upgrade Shttp upgrade;
proxy_set_header Connection
proxy set_header Host shost;
proxy cache bypass Shttp upgrade;